body {
    margin: 0;
    padding: 0;
}

.all_page_listProduct {
    width: 100%;
    height: 100%;
}

.head_page_listProduct {
    height: 170px;
    background-color: rgb(222, 222, 222);
    margin: 0 0 30px 0;
}

.out_viewCart {
    text-align: right;
    padding: 40px 40px 10px 0;
}

.button_viewCart {
    height: 35px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
}

.head_title {
    font-size: 50px;
    margin: -2% 5% 0;
}

.head_title_p {
    margin: 0 5%;
    font-size: 18px;
}

.body_page_listProduct {
    width: 90%;
    height: auto;
    margin: 0 5%;

}

.product_view {
    width: 140%;
    margin-left: -18%;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 5px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.view_head {
    width: 90%;
    height: auto;
    margin: 3% 5% 0;
    font-size: 22px;
}

.view_body {
    width: 90%;
    height: auto;
    margin: 1% 5% 0;
}
p {
    margin: 5px;
    font-size: 15px;
}
.Img_view img {
    width: 60%;
    height: 250px;
    margin: 0 20%;
}
.out_price_view {
    display: flex;
    height: 20px;
}
.disciption_item{
    height: 100px;
}

.out_quantity_view {
    display: flex;
}
.view_foot {
    width: 90%;
    height: auto;
    margin: 4% 5% 5%;
}
.status {
    display: flex;
}
.button_details {
    width: 80px;
    height: 30px;
    margin-left: 10px;
    margin-right: 15px;
    background-color: rgb(59, 137, 254);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}
.text_detail{
    text-decoration: none;
}

.button_order {
    width: 120px;
    height: 30px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}
.product_itmes{
    display: flex;
}
.manager{
    display: flex;
    flex-flow: row-reverse;
    padding-right: 36px;
    margin-bottom: 20px;
}