<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/addproduct.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <title>WellCome my project</title>
</head>
<body>
<div class="all_page_addProduct">
    <div class="head_page_addProduct">
        <div class="all_head_title">
            <div class="head_title">Products</div>
        </div>
    </div>
    <div class="body_page_addProduct">
        <div class="form_add_information">
            <form th:action="@{/product/save}" method="post" th:object="${product}">
                <div class="in_form">
                    <div class="in_in_form">
                        <label for="productname">Product Name</label>
                    </div>
                    <input type="text" id="productname" th:field="*{pname}"/>
                </div>
                <div class="in_form">
                    <div class="in_in_form">
                        <label for="unitprice">Unit Price</label>
                    </div>
                    <input type="text" id="unitprice" th:field="*{price}"/>
                </div>
                <div class="in_form">
                    <div class="in_in_form">
                        <label for="unitInstock">Unit In Stock</label>
                    </div>
                    <input type="text" id="unitInstock" value="0" th:field="*{stock}"/>
                </div>
                <div class="in_form">
                    <div class="in_in_form">
                        <label for="discription">Discription</label>
                    </div>
                    <textarea name="" id="discription" cols="20" rows="1" th:field="*{description}"></textarea>
                </div>
                <div class="in_form">
                    <div class="in_in_form">
                        <label for="manufacturer">Manufacturer</label>
                    </div>
                    <input type="text" id="manufacturer" th:field="*{manufacturer}"/>
                </div>
                <div class="in_form">
                    <div class="in_in_form">
                        <label for="category">Category</label>
                    </div>
                    <input type="text" id="category" th:field="*{category}"/>
                </div>

                <div class="in_form">
                    <div class="in_in_form">
                        <label>Product Image</label>
                    </div>
                    <input type="text" th:field="*{pimage}"/>
                </div>
                <div class="button_submit">
                    <div class="first_button_submit">
                    <input class="submit" type="submit" value="Submit" />
                    </div>
                    <div>
                    <button type="button" onclick="cancelFrom()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function cancelFrom(){
        window.location="/listproduct"
    }
</script>
</body>

</body>
</html>