<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cart Shopping</title>
  <!-- CSS only -->
  <link rel="stylesheet" type="text/css" th:href="@{/cart.css}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/Cart.css">

</head>

<body>
<div class="all_page_cartShopping">
  <div class="head_page_cartShopping">
    <div class="all_head_title">
      <div class="head_title">Cart
      </div>
      <p class="head_title_p">All the selected product in your cart</p>
    </div>
  </div>
  <div class="body_page_cartShopping">
    <div class="button_top">
      <div class="out_button_clear"> <button class="clearCart"> <i class="fas fa-times"></i>&nbspClear Cart</button>
      </div>
      <div class="out_button_checkout"> <button class="checkOut"><i class="fas fa-shopping-cart"></i>&nbspCheck Out</button>
      </div>
    </div>
    <div class="table_information_cart">
      <table class="table_all">
        <tr>
          <th class="th_first">Product</th>
          <th class="th_rest">Quantity</th>
          <th class="th_rest">Price</th>
          <th class="th_rest">Action</th>
        </tr>
        <th:block th:each="product: ${list}">
        <tr>
          <td class="td_first">[[${product.name}]]</td>
          <td class="td_rest">[[${product.quantity}]]</td>
          <td class="td_rest">[[${product.price}]] USD</td>
          <td class="td_rest"><button class="button_remove"><i class="fas fa-times"></i>&nbspRemove</button></td>
        </tr>
        </th:block>
      </table>

    </div>
  </div>
</div>
</body>

</html>