
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/listproduct.css}" />
    <title>ListProduct</title>
</head>

<body>
<div class="all_page_listProduct">
    <div class="head_page_listProduct">
        <div class="out_viewCart">

                <a class="text_detail" th:href="@{/carts}"></a>

            <button class="button_order">
                <a class="text_detail" th:href="@{/carts}">View Cart</a>
            </button>
        </div>

        <div class="head_title">Product</div>
        <p class="head_title_p">All the available product in our store</p>

        <div class="manager">
        <div>
            <button class="button_order">
                <a class="text_detail" th:href="@{/listproduct}">Manager Product</a>
            </button>
        </div>
        <div>
            <button class="button_details">
                <a class="text_detail" th:href="@{/register}"> Register</a>
            </button>
        </div>
        <div class="button_details">

            <button class="button_details">
                <a class="text_detail" th:href="@{/login}">Login</a>
            </button>
        </div>
        </div>
    </div>
    <div class="product_itmes">
    <th:block th:each="product: ${home}">
    <div class="body_page_listProduct">

        <div class="product_view">
            <div class="view_head"> [[${product.pname}]]  </div>
            <div class="view_body">
                <div class="Img_view">
                    <img
                            src="https://bizweb.dktcdn.net/100/398/430/products/iphone-12-pro-family-hero.jpg?v=1602999427703"
                            alt="Iphone12ProMax"
                    />
                </div>
                <div class="disciption_item">
                    <p class="disciption_view">
                        [[${product.description}]]
                    </p>
                </div>
                <div class="out_price_view">
                    <p class="price_view">[[${product.price}]] </p>
                    <p class="price_unit">USD</p>
                </div>
                <div class="out_quantity_view">
                    <p class="quantity_view"> [[${product.stock}]] </p>
                    <p class="quantity_unit">units in stock</p>
                </div>
            </div>
            <div class="view_foot">
                <div class="status">
                    <div class="out_details">
                        <button class="button_details">
                            <a class="text_detail" th:href="@{'/detail/'+${product.idpro}}">
                                <i class="fas fa-info-circle"></i>&nbspDetails
                            </a>
                        </button>
                    </div>
                    <div class="out_order">
                        <button class="button_order">
                            <a class="text_detail" th:href="@{'/cart/add/' + ${product.idpro}}">
                                <i class="fas fa-shopping-cart"></i>&nbspOrder Now
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>

</th:block>
</div>
</div>
</body>
</html>
