<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/managerproduct.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/Cart.css">

</head>

<body>
<div class="all_page_cartShopping">
    <div class="head_page_cartShopping">
        <div class="all_head_title">
            <div class="head_title">Manager Product
            </div>
        </div>
    </div>
    <div class="body_page_cartShopping">
        <div class="table_information_cart">
            <table class="table_all">
                <tr>
                    <th class="td_first">Product Name</th>
                    <th class="td_rest">Price</th>
                    <th class="td_rest">Stock</th>
                    <th class="td_rest">Description</th>
                    <th class="td_rest">Manufacturer</th>
                    <th class="td_rest">Category</th>
                    <th class="td_rest">Product Image</th>
                    <th class="td_rest">Action</th>
                </tr>
                <th:block th:each="product: ${productList}">
                <tr>
                    <th class="td_first">[[${product.pname}]]</th>
                    <th class="td_rest">[[${product.price}]] USD</th>
                    <th class="td_rest">[[${product.stock}]]</th>
                    <th class="td_rest">[[${product.description}]]</th>
                    <th class="td_rest">[[${product.manufacturer}]]</th>
                    <th class="td_rest">[[${product.category}]]</th>
                    <th class="td_rest">[[${product.pimage}]]</th>
                    <th>
                        <div class="edit_btn">
                            <div class="button_order">
                                <a class="text_edit" th:href="@{'/listproduct/edit/'+${product.idpro}}">Edit</a>
                            </div>
                            <div class="button_order">
                                <a  class="text_edit" th:href="@{'/listproduct/delete/'+${product.idpro}}">Delete</a >
                            </div>
                        </div>
                    </th>
                </tr>
                </th:block>
            </table>

        </div>
        <div class="button_bottom">
            <button class="continue_shoping">
                <a class="text_detail" th:href="@{/listproduct/addProduct}">Add New</a>
            </button>
        </div>
    </div>
</div>
</body>

</html>