<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>You have signed up succesfully!</h3>
    <h4><a th:href="@{/login}">Click here to login</a></h4>
</body>
</html>