<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/login.css}" />
    <link
            href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
            rel="stylesheet"
            id="bootstrap-css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="all_page_login">
        <div class="head_page_login">
            <div class="head_title">Mobile Store</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Register</h3>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" th:action="@{/processregister}" method="post" th:object="${user}">
                            <fieldset>
                                <div class="form-group">
                                    <input
                                            class="form-control"
                                            placeholder="Username"
                                            name="Username"
                                            type="text"
                                            th:field="*{username}" required
                                    />
                                </div>
                                <div class="form-group">
                                    <input
                                            class="form-control"
                                            placeholder="Password"
                                            name="password"
                                            type="password"
                                            value=""
                                            th:field="*{password}" required
                                    />
                                </div>

                                <input
                                        class="btn btn-lg btn-success btn-block"
                                        type="submit"
                                        value="Register"
                                />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>